{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Special Members</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>
<body>

    <div id="container" class="content container">
        <div class="row">
            <div class="col-md-8">
                <a href="/" style="text-decoration: none;"><h1 id="logo">Special Members</h1></a>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
